<div class="">
    <ul class="list-group">
        <li class="list-group-item list-group-item-info" style="cursor:default">
            Dialogue Acts
            <div class="pull-right">
                <div class="pull-right">
                    <button type="button" class="btn btn-default btn-xs"
                            ng-click="addAct()">
                        <span class="fa fa-plus"></span> Add
                    </button>
                </div>
            </div>
        </li>
        <li class="list-group-item" style="padding: 0px;">
            <table class="table table-hover table-condensed"
                   style="margin-bottom: 0px;">
                <tr ng-repeat="act in ngModel track by $index">
                    <td style="padding-left: 15px; padding-top: 10px">
                <span editable-select="act.name"
                      e-name="aspect"
                      e-form="rowform"
                      e-ng-options="c.value as c.text for c in ACTS"
                      onbeforesave="validate($data)">
                  {{ showAct(act) }}
                </span>
                    </td>
                    <td style="white-space: nowrap; text-align: right;padding-right: 14px;padding-left: 14px;width: 98px;">
                        <!-- form -->
                        <form editable-form name="rowform"
                              ng-show="rowform.$visible"
                              class="form-buttons form-inline"
                              shown="inserted == act"
                              onaftersave="save()">
                            <button type="submit"
                                    ng-disabled="rowform.$waiting"
                                    class="btn btn-sm btn-primary">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </button>
                            <button type="button"
                                    ng-disabled="rowform.$waiting"
                                    ng-click="rowform.$cancel()"
                                    class="btn btn-sm btn-default">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </form>
                        <div class="buttons" ng-show="!rowform.$visible">
                            <button type="button"
                                    class="btn btn-sm btn-primary btn-warning"
                                    ng-click="rowform.$show()">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-sm btn-danger"
                                    ng-click="removeAct($index)">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </li>
        <li class="list-group-item disabled">
            Suggestion
        </li>
        <li class="list-group-item" style="padding: 0px;">
            <table class="table table-hover table-condensed"
                   style="margin-bottom: 0px;">
                <tr ng-repeat="item in suggestions track by $index">
                    <td style="padding-left: 15px; padding-top: 10px">
                        <b ng-show="has(item)"> {{ item.name }}</b>
                        <span ng-hide="has(item)">{{ item.name }}</span>
                    </td>
                    <td style="white-space: nowrap; text-align: right;padding-right: 14px;padding-left: 14px;width: 98px;">
                        <!-- form -->
                        <button class="btn btn-xs"
                                ng-class="{
                  'btn-default': !has(item),
                  'btn-primary': has(item)
                }"
                                ng-click="set(item)">
                            <i class="fa fa-check"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </li>
    </ul>
</div>
