#amr_listview a {
    color: #007700;
}

#amr_listview li:hover {
    background: #e5e5e5;
}

#amr_listview .relation-focus {
    background: #e5e5e5;
}

.role {
    color: #007700;
}

.label-grey {
    background-color: #9c9c9c;
}

.btn-false {
    background-color: #777;
    color: white;
    font-weight: 700;
    border: none !important;
    outline: none !important;
}

.btn-false:hover, .btn-false:focus {
    color: white !important;
    border: none !important;
    outline: none !important;
}

.btn-true {
    background-color: #5cc0de;
    color: white;
    font-weight: 700;
    border: none !important;
    outline: none !important;
}

.btn-true:hover, .btn-true:focus {
    background-color: #31b0d5 !important;
    color: white !important;
    border: none !important;
    outline: none !important;
}

.btn-null {
    background-color: white;
    color: black;
    font-weight: 700;
    border-color: #ccc !important;
    outline: none !important;
}

.btn-true:hover, .btn-true:focus {
    outline: none !important;
}

.media {
    margin-top: 6px !important;
    cursor: pointer !important;
}

.media-body p {
    border: solid 1px rgb(224, 224, 224);
    padding: 10px;
    color: #444;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background: #fff;
}

.media-body p:hover {
    background: #dff0d8;
}

.media-level-2 {
    margin-left: 20px;

}

.media-level-3 {
    margin-left: 40px;
}

.media-level-4 {
    margin-left: 60px;
}

.media-level-5 {
    margin-left: 80px;
}

.media-body .media-focus {
    color: #3c763d;
    background-color: #dff0d8 !important;
}

.media-body .media-disabled {
    background: #efefef !important;
    color: #444 !important;
    cursor: not-allowed;
}

.no-margin {
    margin: 0px !important;
}

.wrap-tasks {
    border: 1px solid #ddd;
    border-radius: 4px;
}

#content .table-corpora {
    margin-top: 15px;
}

.table-corpora .panel-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.panel-tool {
    display: flex;
    align-items: center;
}

.panel-tool h4 {
    margin-right: 10px;
}

#sidebar {
    padding: 20px 5px;
    border-left: 1px solid #eaeef1;
    background-color: #f2f4f8;
}

#sidebar .list-group {
    border: 1px solid #bce8f1
}