<div class="">
    <ul class="list-group">
        <li class="list-group-item list-group-item-info" style="cursor:default">
            Categories
            <div class="pull-right">
                <div class="pull-right">
                    <button type="button" class="btn btn-default btn-xs"
                            ng-click="addCategory()">
                        <span class="fa fa-plus"></span> Add
                    </button>
                </div>
            </div>
        </li>
        <li class="list-group-item" style="padding: 0px;">
            <table class="table table-hover table-condensed" style="margin-bottom: 0px;">
                <tr ng-repeat="category in ngModel">
                    <td style="padding-left: 15px; padding-top: 10px">
                <span editable-select="category.name"
                      e-name="aspect"
                      e-form="rowform"
                      e-ng-options="c.value as c.text for c in CATEGORIES"
                      onbeforesave="validate($data)">
                  {{ showCategory(category) }}
                </span>
                    </td>
                    <td style="white-space: nowrap; text-align: right;padding-right: 14px;padding-left: 14px;width: 98px;">
                        <!-- form -->
                        <form editable-form name="rowform"
                              ng-show="rowform.$visible"
                              class="form-buttons form-inline"
                              shown="inserted == category"
                              onaftersave="save()">
                            <button type="submit" ng-disabled="rowform.$waiting"
                                    class="btn btn-sm btn-primary">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </button>
                            <button type="button" ng-disabled="rowform.$waiting"
                                    ng-click="rowform.$cancel()"
                                    class="btn btn-sm btn-default">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </form>
                        <div class="buttons" ng-show="!rowform.$visible">
                            <button type="button" class="btn btn-sm btn-primary btn-info"
                                    ng-click="rowform.$show()">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-sm btn-danger"
                                    ng-click="remove($index)">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-sm"
                                    ng-class="{'btn-success':category.confirm==true, 'btn-default': category.confirm ==false || category.confirm==null}"
                                    ng-click="confirmData(category,'correct')" style="min-width: 34px;">
                                <span class="fa fa-check"></span>
                            </button>
                            <button type="button" class="btn btn-sm"
                                    ng-class="{'btn-danger':category.confirm==false, 'btn-default': category.confirm ==true|| category.confirm==null}"
                                    ng-click="confirmData(category, 'incorrect')" style="min-width: 34px;">
                                <span class="fa fa-times"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </li>
    </ul>
</div>
