<div class="modal-header">
    <h3 class="modal-title">New Corpus</h3>
</div>

<div class="modal-body">
    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control parsley-validated" rows="6" data-minwords="6"
                  ng-class="{'parsley-error': checkNull == true && doc.text.length <= 0}"
                  ng-model="doc.text"></textarea>
    </div>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-success btn-sm" ng-click="save()">
        <i class="fa fa-floppy-o" aria-hidden="true"></i>
        Save
    </button>
    <button type="button" class="btn btn-success btn-sm" ng-click="saveAndCreateNew()">
        <i class="fa fa-floppy-o" aria-hidden="true"></i>
        Save and Create New
    </button>
    <button class="btn btn-default btn-sm" type="button" ng-click="cancel()">
        <i class="fa fa-ban" aria-hidden="true"></i>
        Cancel
    </button>
</div>

